[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-yasg = "==1.7.4"
djangorestframework-jwt = "==1.11.0"
django-choices = "==1.6.0"
djangorestframework = "==3.8.2"
django-extensions = "*"
flex = "*"
swagger-spec-validator = "*"
Django = "==2.2.10"
PyJWT = "==1.6.4"
gunicorn = "*"
django-heroku = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.6"
