drf_yasg==1.7.4
djangorestframework_jwt==1.11.0
Django==2.0.5
django_choices==1.6.0
PyJWT==1.6.4
djangorestframework==3.8.2
django_extensions
flex
swagger_spec_validator
django_rest_framework_nested
drf-nested-routers
psycopg2
psycopg2-binary